@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Sintony:wght@400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #004446;
}

h2{
    font-family: 'Sintony', sans-serif;
    text-align: center;
    border-top: 0.15em solid #FDDA02;
    border-bottom: 0.15em solid #FDDA02;
    padding: 0.4em 0 0.4em 0;
    width: 55%;
    margin: auto;
}

a{
    text-decoration: none;
}
p{
    font-family: 'Quicksand', sans-serif;
}

ul, ol{
    list-style: none;
}

header{
    background-color: rgba(236, 246, 240, 0.9);
    font-family: 'Quicksand', sans-serif;
    color: #004446;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    z-index: 8000;
    position: sticky;
    top: 0;
}

.novisible {
    display: none;
}

   

#nombre{
    display: flex; 
    justify-content:flex-start;
}

#nombre p{
    padding-left: 0.5em;
}
/* Boton de menu - rectangulo */
#llamarmenu{
    background-color: #FDDA02;
   padding: 0.5em;
   width: 2.8em;
   height: 2.2em;
   top: 1em;
   right: 1em;
   cursor: pointer;
   transition: all 0.3s ease-out;
   position: fixed;
   border-radius: 20%;
   z-index: 8000;
}

/* lineas del boton menu - rectangulo */
.hamburguesa{
    color: #004446;
    transition: all 0.3s ease-out;
    z-index: 9090;
    top: 0.65em;
    right: 0.8em;
    width: 1em;
    position: fixed;
}

.cruz{
    color: #004446;
    transition: all 0.3s ease-out;
    z-index: 9090;
    top: 0.7em;
    right: 0.85em;
    width: 1em;
    position: fixed;
}

.menu{
    text-align: center;
    background-color: #004446;
    opacity: 0.9;
    width: 98%;
    top: 0.4em;
    right: 0.4em;
    border-radius: 12px;
    position: fixed;
    color: #ECF6F0;
}

.boton_prendido a{
    font-weight: 700;
    color: #FDDA02;
    border-bottom: 0.2em solid #ECF6F0;
    border-top: 0.2em solid #ECF6F0;
    padding: 0.4em 0 0.4em 0em;
}

.menu li{
    margin: 2em 13em 2em 13em;
}

/*------------------------------------------------- 
------------- empieza el body principal---------- 
--------------------------------------------------*/

#principal{
    margin: 2em;
}

.fotoperfil{
    text-align: center;
}

.fotoperfil img{
    width: 60%;
    height: auto;
    outline: 2px solid #FDDA02;
    outline-offset: -8px;
}

#principal p{
    font-size: 1.7em;
    color: #004446;
    padding-bottom: 0.5em;
}

.linea{
    border: 0.15em solid #FDDA02;
    margin: 1em 8em 1em 8em;
}

.iconosredes{
    display: flex;
    justify-content: space-around;
}
.iconosredes li{
    background-color: #ffffff;
    border-radius: 20%;
    padding: 0.5em;
}

.iconosredes li img{
    width: 2.5em;
}

/*------------------------------------------------
--------------section puesto actual---------------
------------------------------------------------*/

.fondoverde{
    background-color: #004446;
    padding: 2em;
    color: #ECF6F0;
}

.fondoverde div{
    font-family: 'Sintony', sans-serif;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
}

.fondoverde h4{
    font-size: large;
}

.listapuestoactual li{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    border-left: 0.2em solid #FDDA02;
}

.fondoverde img{
    text-align: center;
    background-color: #ECF6F0;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
}

/*-------------------------------------------------
---------------- experiencia ------------------- 
-------------------------------------------------*/

.fondoclaro{
    background-color: #ECF6F0;
    padding: 2em;
}

.fondoclaro h2{
    color: #004446;
}
.fondoclaro > h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #004446;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.datotrabajo h6{
    color: #FDDA02;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: medium;
}

.datotrabajo h4{
    font-family: 'Sintony', sans-serif;
    font-size: 1.8em;
    padding-bottom: 0.4em;
    padding-top: 0.1em;
    color: #ECF6F0;
}

.iconotrabajo{
    background-color: #ffffff;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.a{
    flex-basis: 30%;
}
.datotrabajo{
    background-color: #004446;
    padding: 1.5em 1.2em 1.5em 1em;
    color: #ECF6F0;
}

.a img{
    width: auto;
    height: 60px;
}

.logoinstagram{
    width: 30px;
    height: auto;
    margin-right: 0.4em;
}
#instagramunico{
    height: 60px;
    width: auto;
}
.linktrabajo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #004446;
}

.itemdostrabajo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.botontrabajo{
    margin-top: 1em;
}
.botontrabajo a :hover{
    background-color: #FDDA02;
}

/*-------------------------------------------------
---------------- habilidades ------------------- 
-------------------------------------------------*/

.habilidades{
    background-color: #004446;
    padding: 2em;
}

.habilidades h2{
    color: #ECF6F0;
}
.habilidades h5{
    font-family: 'Sintony', sans-serif;
    font-size: x-large;
    color: #ECF6F0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.habilidades h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: #ECF6F0;
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.porcentajeline{
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
}


.habilidades h6{
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    font-size: medium;
    color: #FDDA02;
    flex-basis: 35%;
}
.lineaporcentaje{
    border: 0.15em solid #ECF6F0;
    flex-basis: 60%;
}
.contenedorporcentaje{
    background-color: #FDDA02;
    color: #FDDA02;
    height: 100%;
}
.porcentajeline p{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    margin-left: 3%;
    color: #ECF6F0;
}

/*-------------------------------------------------
---------------- portafolios ------------------- 
-------------------------------------------------*/

.album{
    text-align: center;
}

.galeria{
    background-color: #ffffff;
    width: 100%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.galeria img{
    border-radius: 3% 3% 0 0;
    width: 100%;

}
.galeria figcaption{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: larger;
    text-align: center;
    width: 85%;
    padding: auto;
    margin:auto;
    color: #004446;
}

.audiovisual p{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: larger;
    width: 85%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    color: #004446;
}
.audiovisual div{
    background-color: #ffffff;
    color: #004446;
    margin: 1em 0 1em 0;
}

.videoyoutube{
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    border-radius: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;        
}

.audiovisual div h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 1em;
}

.integrantes{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    padding-left: 4em;
    padding-bottom: 2em;
}
.integrantes li{
    border-left: 0.3em solid #004446;
    padding-left: 0.5em;
}

.botonsalvar{
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    text-align: center;
    border-top: 0.3em solid #FDDA02;
    margin-top: 2em;
    padding-bottom: 3em;
}
.botonsalvar p{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: larger;
    width: 85%;
    margin: auto;
    color: #004446;
    padding-top: 1em;
    padding-bottom: 1.5em;
}
.botonsalvar a{
    background-color: #004446;
    color: #ECF6F0;
    padding: 1em;
    border-radius: 2em;
}
.botonsalvar a:hover{
    background-color: #FDDA02;
    color: #004446;
}

#solo{
    text-align: center;
    padding-bottom: 2em;
}
#solo h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    margin-top: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#contacto{
    background-color: #6DB98D;
    padding: 2em 2em 0 2em;
}
#contacto h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #004446;
    padding: 2em;
}

footer{
    background-color: #ECF6F0;
    padding: 2em;
    color: #004446;
}

footer div{
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    margin-bottom: 0.5em;
}

#menufooter{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: x-large;
}
#menufooter li{
    margin-bottom: 0.3em;
}
#menufooter li a{
    color: #004446;
}
#menufooter li a:hover{
    color: #6DB98D;
}


#listacontacto li{
    padding-left: 1em;
    margin-bottom: 0.5em;
}

#listacontacto li a{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    font-size: large;
    color: #004446;
}
#listacontacto li a:hover{
    color: #6DB98D;
}


/*-------------------------------------------------------
-------------------------------------------------
Inicio version tablet 600px 
-------------------------------------------------------- 
-------------------------------------------------*/
@media screen and (min-width: 600px){

    #principal p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .iconosredes li img{
        width: 4em;
    }

    .fondoverde div{
        width: 90%;
    }
    .puestoactualflex{
        display: flex;
        justify-content: space-between;
    }
    
    .fondoclaro > div{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .botontrabajo{
        margin-bottom: 1.5em;
        width: 45%;
    }
    .datotrabajo{
        padding-bottom: 1em;
        height: 80%;
    }

    .lineaporcentaje{
        flex-basis: 100%;
    }

    .album{
        columns: 2 ;

    }
    
    .galeria{
        margin-bottom: 1.5em;
    }

    .videoyoutube{
        display: block;
        width: auto;
    }

    #solo{
        display: block;
        background-color: #ffffff;
    }

    #flexinstagram{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #flexinstagram li{
        padding-right: 2em;
        padding-bottom: 2em;
    }

    footer :not(div){
        display: flex;
        justify-content: space-around;
    }

}

/*--------------------------------------------------------
----------------------------------------------------------
Inicio version laptop y desktops 992px 
------------------- ------------------------------------
----------------------------------------------------------*/
@media screen and (min-width: 992px){

    #llamarmenu{
        display: none;
    }

    header{
        display: flex;
        background-color: #ECF6F0;
        box-shadow: 0 5px #00444646;
    }
    .menu{ 
        position: static;
        display: flex;
        background-color: transparent;
        justify-content: end;
        font-size: small;
    }
    .menu li{
        margin-block-start: auto;
        margin-block-end: auto;
        margin-inline-start: auto;
        margin-inline-end: 1.8em;
        padding-inline-start: auto;
    }
    .menu li a{
        color: #004446;
    }

    .boton_prendido a{
        color: #004446;
        font-weight: 700;
        border-left: 0.2em solid #004446;
        border-bottom: none;
        border-top: none;
        padding-left: 0.4em;
        width: 5%;
    }

    #principal{
        display: flex;
    }

    .fotoperfil img{
        width: 100%;
    }
    #flexdesktop{
        width: 58%;
       align-self: center;
    }

    .fotoperfil{
        order: 1;
    }
    h1{
        text-align: left;
        padding-left: 1em;
    }
    #flexdesktop p{
        width: 95%;
        padding-left: 1em;
    }

    .album{
        columns: 4;
    }
    
    .videoyoutube{
        width: 600px;
        height: 420px;
    }
    .audiovisual p{
        width: 60%;
    }
    .integrantes{
        margin-left: 20%;
    }
    
}

/*-----------------------------------------------------------
-------------------------------------------------------------
Inicio version desktop 1200px 
------------------------------------------------------------- 
-------------------------------------------------------------*/
@media screen and (min-width: 1200px) {


}